body {
    padding: 0;
    background-size: cover;
    display: flex;
    justify-content: center;
    background-color: black;
}
h1 {
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
}
span {
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
}
.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
   margin-top: 100px;
    background-image: url(https://github.com/Ismaelx1/STOPWATCH/blob/main/istockphoto-698740028-170667a.jpg?raw=true);
    background-size: cover;
    color: azure;
    width: 500px;
    height: 250px;
    border-radius: 8px;
    gap: 20px;
    z-index: 10;
    border: 3px groove azure;
}
button {
    border: 1px solid azure;
    color: azure;
    background-color: black;
    cursor: pointer;
    width: 80px;
    height: 30px;
    font-size: 15px;
    font-style: oblique;
    font-weight: bolder;
    margin-right: 5px;
}
button:hover {
    background-color: azure;
    color: black;
}
video {
    height: 600px;
    width: 600px;
    position: absolute;
    z-index: 1;
}
.container {
    display: flex;
    flex-direction: column;
}

.text {
    position: absolute;
    width: fit-content;
    height: fit-content;
    background-color: black;
    border: 3px groove azure;
   
  padding: 10px;
    border-radius: 8px;
}

h2 {
   
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}




